.backgroundCell {
	background-color: #D3D3D3;
	/*border: 1px solid lightgray;*/
	border-radius: 5px;
	opacity: 0.5;
	transition: all 0.3s;
	float: left;
}

.backgroundCell:hover {
	-webkit-box-shadow: inset 0 0 10px black;
	-moz-box-shadow: inset 0 0 10px black;
	box-shadow: inset 0 0 10px black;
}
.backgroundCell:active{
	-webkit-box-shadow: inset 0 0 20px black;
	-moz-box-shadow: inset 0 0 20px black;
	box-shadow: inset 0 0 20px black;
}


.gridBlock {
	background-color: #33A905;
	border-radius: 5px;
	border: 2px solid #1A402A;
	box-sizing: border-box;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.gridBlockPlaceholder {
	background-color: transparent;
	border-radius: 5px;
	border: 5px dashed red;
	opacity: 0.5;
	z-index: 50;
	box-sizing: border-box;
}

.button {
	width: 36px;
	height: 36px;
	transition: opacity 0.3s;
	float: right;
	cursor: pointer;
}

.button-small {
	background-image: url(../img/small-button.png);
}
.button-medium {
	background-image: url(../img/medium-button.png);
}
.button-big {
	background-image: url(../img/big-button.png);
}
.title {
	font-size: 50px;
	color: white;
	padding: 10px 0 0 15px;
}